@import "tailwindcss";

@theme {
  /*Colores de la coreshop*/
  --color-core-blue: #1e3a8a;
  --color-core-cyan: #00b4d8;
  --color-core-bg: #f8fafc;
  --color-core-text: #334155;
}

body {
  background-color: var(--color-core-bg);
  color: var(--color-core-text);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}
