@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /*Colores de la coreshop*/
  --color-core-blue: #0077B6;
  --color-core-cyan: #00b4d8;
  --color-core-bg: #f8fafc;
  --color-core-text: #334155;
  --color-core-dark-blue: #004191;
  
  /* fuente principal */
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif; 
}
